.formgroup {
  & input {
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #2e2d2d;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  & label {
    margin-bottom: 5px;
  }
}
