* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.form {
  h1 {
    text-align: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  height: 4rem;
  color: #fff;
  background-color: #000;
}
.navbar {
  display: flex;
  font-size: 1.5rem;
  &__icon {
    margin-right: 1rem;
  }
  &__brand {
    text-decoration: none;
    color: #fff;
  }
}

.menu {
  font-size: 1.5rem;

  &__list {
    display: flex;
    list-style-type: none;
    &-item {
      padding: 1rem;
      &_link {
        text-decoration: none;
        color: #fff;
        span {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

.sidebar {
  width: 20rem;
  height: calc(100vh - 4rem);
  background-color: red;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    &-img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
      padding: 1rem;
    }
    &::after {
      content: "";
      width: 100%;
      background-color: #908ca3;
      height: 0.2rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    &-item {
      display: block;
      padding: 20px;
      .link {
        text-decoration: none;
        color: #fff;
        span {
          margin-right: 1rem;
        }
      }
    }
  }
}
